<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javaqa">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:allowBackup="true">

        <activity android:name=".ui.activities.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.SingInActivity"
            android:parentActivityName=".ui.activities.StartActivity"/>

        <activity android:name=".ui.activities.RegistrationActivity"
            android:parentActivityName=".ui.activities.StartActivity"/>

        <activity android:name=".ui.activities.StartActivity"/>

        <activity android:name=".ui.activities.new_game_activities.NewGameActivity"
            android:parentActivityName=".ui.activities.MainActivity"/>

        <activity android:name=".ui.activities.profile_activities.ProfileActivity"
            android:parentActivityName=".ui.activities.MainActivity"/>

        <activity android:name=".ui.activities.learning.java_core.IntroductionActivity"
            android:parentActivityName=".ui.activities.learning.LearnActivity"/>

        <activity android:name=".ui.activities.profile_activities.ProfileEditActivity"
            android:parentActivityName=".ui.activities.profile_activities.ProfileActivity">
        </activity>

        <activity android:name=".ui.activities.profile_activities.CreatePostActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.activities.CreateConversationPostActivity" />

        <activity android:name=".ui.activities.OpenConversationItem"/>

        <activity android:name=".ui.activities.new_game_activities.StartNewGame"/>

        <activity android:name=".ui.activities.learning.LearnActivity"/>

        <activity android:name=".ui.activities.new_game_activities.GamesStatusActivity"/>

    </application>

</manifest>